[Desktop Entry]
Terminal=false
Type=Application
Categories=PackageManager;System;Settings;
Name=Software Boutique
Comment=Discover and install software from a collection that compliments Ubuntu MATE
Exec=ubuntu-mate-welcome --boutique
Icon=software-boutique
StartupNotify=false
Name[da]=Softwarebutik
Name[sl]=Trgovina programov
Name[hu_HU]=Szoftver butik
Name[ko_KR]=소프트웨어 부띠끄
Name[it]=Software Boutique
Name[ro]=Software Boutique
Name[cs]=Softwarový butik
Name[hy]=Ծրագրերի Կրպակ
Name[nb]=Programvare Boutique
Name[et]=Tarkvara Butiik
Name[lt_LT]=Programinės įrangos butikas
Name[el]=Μπουτίκ Λογισμικού
Name[sr]=Бутик програма
Name[sr@latin]=Softver butik
Name[sv]=Programvarubutik
Name[ja]=Software Boutique
Name[be_BY]=Праграмны буцік
Name[ar]=معرض البرمجيات
Name[pt]=Boutique de Software
Name[nb_NO]=Programvare Boutique
Name[es]=Software Boutique
Name[nl]=Software shop
Name[pl]=Software Boutique
Name[oc]=Software Boutique
Name[sk]=Software Boutique
Name[zh_CN]=Boutique 商店
Name[de]=Software-Boutique
Name[zh_TW]=軟體商店
Name[es_ES]=Boutique de Software
Name[fr_FR]=Boutique de Logiciels
Name[bg]=Софтуерен Бутик
Name[en_GB]=Software Boutique
Name[he_IL]=בוטיק תוכנות
Name[pt_BR]=Boutique de Software
Name[nl_NL]=Softwareboetiek
Name[tr_TR]=Yazılım Butiği
Name[eu]=Software Denda
Name[es_419]=Boutique de Software
Name[fi_FI]=Ohjelmisto Putiikki
Name[id]=Butik Aplikasi
Name[ru]=Магазин программного обеспечения
Name[ms_MY]=Butik Perisian
Name[ca_ES]=Botiga de programari
