[Desktop Entry]
Terminal=false
Type=Application
Categories=PackageManager;System;Settings;
Name=Software Boutique
Comment=Ubuntu MATE Software Boutique
Exec=ubuntu-mate-welcome --software-only
Icon=system-software-install
OnlyShowIn=MATE;
StartupNotify=false
