[Desktop Entry]
Terminal=false
Type=Application
Categories=GTK;Core;Utility;
OnlyShowIn=MATE;
StartupNotify=false
Name=Ubuntu MATE Welcome
Exec=ubuntu-mate-welcome
Icon=gtk-info
Comment=The Ubuntu MATE Welcome utility.
OnlyShowIn=MATE
