[Desktop Entry]
Terminal=false
Type=Application
Categories=PackageManager;System;Settings;
Name=Software Boutique
Comment=Discover and install software from a collection that compliments Ubuntu MATE.
Exec=ubuntu-mate-welcome --boutique
Icon=software-boutique
StartupNotify=false
