[Desktop Entry]
Terminal=false
Type=Application
Categories=PackageManager;System;Settings;
Name=Welcome
Comment=Welcome to Ubuntu MATE
Exec=ubuntu-mate-welcome
Icon=ubuntu-mate
OnlyShowIn=MATE;
StartupNotify=false
Name[fr]=Bienvenue
Name[es]=Bienvenido
Name[de]=Willkommen
Name[it]=Benvenuto
Name[nl]=Welkom
Name[sv]=Välkomna
Name[ro]=Bine ati venit
Name[ru]=Добро пожаловать
Name[ca_ES]=Benvinguda
Name[cs]=Vítejte
Name[el]=Καλωσόρισμα
Name[hu]=Üdvözöljük
Name[id]=Selamat datang
Name[ko]=환영
Name[lt]=Sveiki
Name[nb]=Velkommen
Name[pl]=Witamy
Name[pt]=Bem vindo
Name[bg]=Добре дошли
Name[ru]=Добро пожаловат
Name[sr]=Добродошли
Name[sl]=Dobrodošli
Name[ar]=أهلا بك
Name[zh]=歡迎
Name[ja]=ようこそ
Name[sv]=Välkommen
Name[tr]=Hoşgeldiniz
