[Desktop Entry]
Terminal=false
Type=Application
Categories=GTK;Core;Utility;
StartupNotify=false
Name=Ubuntu MATE Welcome
Comment=Welcome to Ubuntu MATE
Exec=ubuntu-mate-welcome
Icon=ubuntu-mate
OnlyShowIn=MATE;
StartupNotify=false
NoDisplay=true
