@import "variables.less";

.main-menu-logo {
    width: 200px;
    height: 200px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.main-menu-textbox {
    height: 40px;
    min-height: 40px;
    white-space: nowrap;
}

.main-menu-text {
    margin: 6px;
    padding: 6px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 18px;
    color: #5A6943;
}

.main-menu-version {
    font-family: @main-font;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
    color: #5A6943;
    pointer-events: none;
}

.menu-bkgnd {
    height: 390px;
    width: 390px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -10;
    position: absolute;
    overflow: hidden;
    background-image: url('../img/welcome/menu-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

/* Raspberry Pi Button */
@rpi: #C6053D;
.btn-rpi {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: @rpi;
    background-repeat: repeat-x;
    border-color: black;
}

.btn-rpi:hover,
.btn-rpi:focus,
.btn-rpi:active,
.btn-rpi.active,
.btn-rpi.disabled,
.btn-rpi[disabled] {
    color: #ffffff;
    background-color: @rpi;
}

.btn-rpi:active,
.btn-rpi.active {
    background-color: @rpi;
}

/* Shows a notification in the top-right corner */
.heads-up {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 11;
    font-size: 16px;
    text-align: right;
}
