/* Colours */
@bg-dark: #474747;
@bg-white: #f4f4f4;
@success-green: #466E00;
@grey-light: #DCDCDC;
@grey: #ACACAC;
@footer: #3C3B37;
@subheader: #656565;
@navigation-text-colour: #DED9CB;
@navigation-subtitle-text: #959595;
@navigation-button-selected: #667E40;
@scrollbar-top: #F1F0EE;
@scrollbar-bottom: #FDFDFD;
@scrollbar-colour: #86A551;
@link-colour: #758A53;
@link-focused: #87A556;
@terminal-bg-colour: black;
@terminal-font-colour: #D0D0D0;

/* Layout */
@header-height: 40px;
@header-padding: 8px;
@footer-height: 40px;
@footer-padding: 8px;
@content-padding: 16px;

/* Fonts */
@main-font: "Ubuntu";
@code-font: "Ubuntu Mono";

/* Transitions */
@header-footer-speed: 0.75s;
@header-footer-type: ease-in-out;
